# Application Ports
FRONTEND_PORT=3000
BACKEND_PORT=8080
AGENTS_PORT=8001

# Database Access
DB_HOST=database
DB_PORT=3306
DB_NAME=jcpm_db
DB_USER=root
DB_PASSWORD=sua_senha_do_banco_de_dados_aqui

# Spring Boot Configuration
# (Recomendado usar 'dev' como padrão no example)
SPRING_PROFILES_ACTIVE=dev
JWT_SECRET=seu_segredo_jwt_forte_aqui
JWT_EXPIRATION=86400000
JAVA_OPTS=

# MySQL Container Setup
# (Esta senha deve ser a mesma de DB_PASSWORD se o DB_USER for 'root')
MYSQL_ROOT_PASSWORD=sua_senha_do_banco_de_dados_aqui
MYSQL_DATABASE=jcpm_db

# Chaves do Cloudflare DDNS
CLOUDFLARE_API_KEY=sua_chave_api_cloudflare_aqui
CLOUDFLARE_ZONE_ID=sua_id_zone_cloudflare_aqui

# Agents Service Secrets
# Chave da API do Google Gemini (https://aistudio.google.com/app/apikey)
# Chave da NewsAPI (https://newsapi.org/)
GEMINI_API_KEY=sua_chave_api_gemini_aqui
NEWS_API_KEY=sua_chave_api_news_aqui
